<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Suite">

    <listeners>
    <listener class-name="com.orangehrm.utils.ExtentListeners"/>
</listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.orangehrm.tests.LoginTest" />
        </classes>
    </test>

	<test name ="Dashboard Test">
	<classes>
	<class name ="com.orangehrm.tests.DashboardTest"/>
	 </classes>
	</test>
</suite>
